* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "M PLUS 1 Code", sans-serif;
}
.navbar {
  z-index: 100;
}
.navbar-2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 1px 1px 1px #000;
}
.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
}
.nav-item {
  padding: 0.5rem;
}
.nav-link {
  transition: all 0.2s ease;
}
.nav-link:hover {
  border-bottom: 1px solid black;
}

.navbar-3 {
  display: none;
  position: fixed;
  z-index: 105;
  top: 0;
  left: 0;
  width: 100%;
}
.burger-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.burger {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.line-1,
.line-2,
.line-3 {
  background: black;
  width: 40px;
  height: 3px;
  margin: 2px 0;
  transition: transform 0.2s ease-in-out;
}

#project,
#contact-us {
  background-image: url(./img/light-gray-concrete-wall.jpg);
  width: 100%;
  height: 100%;
}
#about-us,
#services {
  background-image: url(./img/texture-background.jpg);
  width: 100%;
  height: 100%;
  color: white;
}

#home {
  padding-top: 4.5rem;
}
.home-container {
  width: 100%;
  background-image: url(./img/home-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
}
.home-text {
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  color: white;
  border-radius: 5px;
}
#home h3 {
  color: #165da3;
  font-weight: medium;
}

.slide-safe {
  border: 2px solid #165da3;
  border-radius: 5px;
}

.project-container {
  background: rgba(0, 0, 0, 0.2);
}
.project-title {
  text-align: center;
  padding: 5rem 0 0 0;
  font-weight: bold;
}
.project-card {
  padding-bottom: 2rem;
}
.project-card .card {
  background: rgba(22, 93, 163, 0.7);
  color: white;
  transition: all 0.2s ease;
}
.card-title {
  font-size: large;
  text-decoration: underline;
  color: hsl(91, 51%, 70%);
  font-weight: bold;
}
.card-text {
  color: #000;
}
.pj-link {
  text-decoration: none;
}
.project-card .card:hover {
  transform: translateY(-20px);
  background: rgba(82, 108, 134, 0.5);
}
.project-card .card img {
  filter: grayscale(50%);
  transition: all 0.2s ease;
}
.project-card .card img:hover {
  filter: grayscale(0%);
}
#project .card img {
  height: 300px;
}

.about-header {
  margin: 0 0 2rem 0;
  color: #7fc241;
}
.about-img {
  width: 100%;
  border: 2px solid #7fc241;
  border-radius: 5px;
  margin: 0.5rem 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.card.about-card {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}
.card {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.row {
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

#services .service-container {
  background: rgba(0, 0, 0, 0.5);
  padding: 5rem 0 2rem 0;
}
#services h1 {
  text-align: center;
  padding: 2rem 0 2rem 0;
  font-weight: bold;
}
#services h1 span {
  color: #7fc241;
}
.service-row {
  padding: 0.5rem;
}
.service-img {
  text-align: center;
}
.service-img img {
  width: 30%;
  border: 2px solid #7fc241;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: transform 0.2s ease;
}
.service-img img:hover {
  transform: scale(1.1);
}
.service-img h4,
.service-img h5 {
  padding: 1rem 0 1rem 0;
  color: #7fc241;
}
.service-img i {
  font-size: 2.5rem;
  color: #7fc241;
}
.accordion,
.accordion-item,
.accordion-header {
  background: rgba(0, 0, 0, 0.3) !important;
  color: white;
}

#contact-us h1 {
  color: #165da3;
}
#contact-us h3 {
  width: 55%;
  border-bottom: 1px solid #165da3;
}
#contact-us i {
  color: #165da3;
}
#contact-us .btn {
  background: #165da3;
}
textarea.form-control {
  height: 160px !important;
}
.address,
.message {
  padding: 1rem;
}

footer {
  background: #212121;
  color: #fff;
  padding: 1rem;
}
.footer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.footer a {
  text-decoration: none;
  color: #fff;
  margin: 0 1rem 0 0;
  transition: all 0.2s ease-in-out;
}
.footer a:hover {
  color: #7fc241;
}
.footer b {
  color: #7fc241;
}

@media only screen and (max-width: 992px) {
  .about-img-header {
    top: -21rem;
  }
  .footer {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-2 {
    height: 100vh;
    display: none;
  }
  .navbar-nav-2 {
    display: block;
    margin: 5rem 0;
  }
  .navbar-3 {
    display: block;
  }
  .about-img-header {
    top: -14rem;
  }
}

@media only screen and (max-width: 576px) {
  .contianer-nav {
    display: flex;
    flex-direction: column;
  }
  .about-img-header {
    display: none;
  }
}
